1. Blood glucose levels for obese patients have a mean of 100 with a standard deviation of 15. A researcher thinks that a diet high in raw cornstarch will have a positive effect on blood glucose levels. A sample of 36 patients who have tried the raw cornstarch diet have a mean glucose level of 108. Test the hypothesis that the raw cornstarch had an effect or not.

H<sub>0</sub> : &mu; > 100
<br>
H<sub>a</sub> : &mu; &leq; 100

Since we do not have a sample standard deviation and 30+ sample, we can go with a z-test.

x&#772; = 108
<br>
&mu; = 100
<br>
&sigma; = 15
<br>
n = 36
<br>
We then can apply the formula below.

![image.png]()

In [5]:
from math import sqrt
z = (108 - 100)/(15/sqrt(36))
print(z)

3.2

P value which corresponds to 3.2 in a normal distribution is 0.007. 0.007 is less 0.05 (our alpha value), therefore we reject the null hypothesis under 5% level of significance. 
<hr>

3. You take the SAT and score 1100. The mean score for the SAT is 1026 and the standard deviation is 209. How well did you score on the test compared to the average test taker?

In [8]:
z = (1100 - 1026)/(209)
z
# 0.35 means, we are the extreme end. Which means we have performed well

0.35406698564593303